.row {
  height: 40px;
}

.container {
  padding: 100px;
}

.red {
  background-color: #ff0002;
}

.brown {
  background-color: #835a0a;
}

.pink {
  background-color: #ffbb80;
}

.black {
  background-color: black;
}

.yellow {
  background-color: #ffff00;
}

.blue {
  background-color: #2600ff;
}

.grey {
  background-color: #bdbdbd;
}

@media screen and (min-width: 768px) {

  .container {
    padding: 100px 200px;
  }

  .red {
    background-color: #008700;
  }

  .blue {
    background-color: #20375f;
  }

}

@media screen and (min-width: 992px) {

  .container {
    padding: 0 300px;
  }

  .row {
    height: 50px
  }

  .red {
    background-color: #835a0a;
  }

  .grey {
    background-color: black;
  }

  .brown {
    background-color: #bdbdbd
  }

}
